h1 {
  color: maroon;
  font-size: 20pt;
  text-decoration: none;
}
h2 {
  color: indianred;
  font-size: 16pt;
  text-decoration: none;
}
body {
    font-size: 12pt;
}
a {
  color: inherit;
  text-decoration: none;
}